<div class="navigation">
    {% if boldify_movies %}
        <b>Фильмы</b>
    {% else %}
        <a href="{% url 'movies:movie_list' %}">Фильмы</a>
    {% endif %}
     <b>|</b> 
    {% if boldify_people %}
        <b>Люди</b>
    {% else %}
        <a href="{% url 'movies:person_list' %}">Люди</a>
    {% endif %}

    <br>

    {% if boldify_years %}
        <b>Годы</b>
    {% else %}
        <a href="{% url 'movies:year_list' %}">Годы</a>
    {% endif %}
     <b>|</b> 
    {% if boldify_genres %}
        <b>Жанры</b>
    {% else %}
        <a href="{% url 'movies:genre_list' %}">Жанры</a>
    {% endif %}
     <b>|</b> 
    {% if boldify_stats %}
         <b>Статистика</b>
    {% else %}
        <a href="{% url 'movies:stats' %}">Статистика</a>
    {% endif %} 
     <b>|</b>  
    <a href="{% url 'movies:random_movie' %}">Случайная рецензия</a>

    <br>
 
    {% for yr in years_exist %}
        {% if boldify_coll %}
            {% if year == yr %}
                <b>{{ yr }}</b>
            {% else %}
                <a href="{% url 'movies:coll' yr %}">{{ yr }}</a>
            {% endif %}
        {% else %}
            <a href="{% url 'movies:coll' yr %}">{{ yr }}</a>
        {% endif %}
        {% if not forloop.last %}
            <b>|</b>
        {% endif %}
    {% endfor %}
</div>