{% extends "_layouts/base.html" %}
{% load movies_extras %}

{% block headline %}
    <h3>{{ year }}</h3>
{% endblock headline %}

{% block content %}
    {% for month, items in packed_items.items %}
        <h3><u>{{ month|month_number_to_word }}</u></h3>
        {% if items %}
            <table>
            {% for row in items %}
                <tr>
                    {% for item in row %}
                        <td>
                            <div class='item'>
                                {% if item.image_url %}
                                    <a href="{% url 'movies:movie_detail' item.pk %}"><img class='item_img' src="{{ item.image_url }}"></a>
                                {% else %}
                                    <a href="{% url 'movies:movie_detail' item.pk %}">{{ movie }}</a>
                                {% endif %}
                                {{ item.name }} ({{ item.year }})<br>
                                ({{ item.grade }}/10)
                            </div>
                        </td>  
                    {% endfor %}
                </tr>    
            {% endfor %}
            </table>
        {% endif %}
    {% endfor %}
{% endblock content %}