{% extends "movies/base.html" %}
{% load movies_extras %}

{% block title %}Фильмы {{ year }} | {{ block.super }}{% endblock title %}

{% block headline %}
    <h2>{{ year }}</h2>
{% endblock headline %}

{% block content %}
    {% include "movies/_navigation.html" %}

    <p>
        <b>Колл</b> | <a href="{% url 'movies:coll_stats' year %}">Статистика</a>
    </p>
    {% for month, items in packed_items.items %}
        <h3><u>{{ month|month_number_to_word }}</u></h3>
        {% if items %}
            <table>
            {% for row in items %}
                <tr>
                    {% for item in row %}
                        <td>
                            <div class='item'>
                                {% if item.image_url %}
                                    <a href="{% url 'movies:movie_detail' item.pk %}"><img class='item_img' src="{{ item.image_url }}"></a>
                                {% else %}
                                    <div class="item_box">
                                        <a href="{% url 'movies:movie_detail' item.pk %}">(-----)</a>
                                    </div>
                                {% endif %}
                                {{ item }} ({{ item.year }})<br>
                                ({{ item.grade }} из 10)
                            </div>
                        </td>  
                    {% endfor %}
                </tr>
                <br>
            {% endfor %}
            </table>
        {% endif %}
    {% endfor %}
{% endblock content %}