{% extends "movies/base.html" %}
{% load staticfiles %}

{% block title %}{{ object }} | {{ block.super }}{% endblock title %}

{% block headline %}
    <h1>{{ object }}</h1>
{% endblock headline %}

{% block content %}
    {% if directed or starred_in %}
        <h2>Фильмы</h2>
        {% if directed %}
            <h3>Режиссёр:</h3>
            <table id="tableDirected" class='tablesorter'>
                <thead>
                    <tr>
                        <th>Название</th>
                        <th class="{sorter: 'monthYear'}">Дата</th>
                        <th>Оценка</th>
                    </tr>
                </thead>
                <tbody>
                {% for movie in directed %}
                    <tr>
                        <td><a href="{% url 'movies:movie_detail' movie.pk %}">{{ movie.name }}</a></td>
                        <td>{{ movie.first_date|date:"M Y" }}</td>
                        <td>{{ movie.grade }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if starred_in %}
            <h3>Актёр:</h3>
            <table id="tableActed" class='tablesorter'>
                <thead>
                    <tr>
                        <th>Название</th>
                        <th class="{sorter: 'monthYear'}">Дата</th>
                        <th>Оценка</th>
                </thead>
                <tbody>
                {% for movie in starred_in %}
                    <tr>
                        <td><a href="{% url 'movies:movie_detail' movie.pk %}">{{ movie.name }}</a></td>
                        <td>{{ movie.first_date|date:"M Y" }}</td>
                        <td>{{ movie.grade }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}

    {% if created or tvshows_starred_in %}
    <h2>Сериалы</h2>
        {% if created %}
            <h3>Создатель:</h3>
            <table id="tableDirected" class='tablesorter'>
                <thead>
                    <tr>
                        <th>Название</th>
                </thead>
                <tbody>
                {% for show in created %}
                    <tr>
                        <td><a href="{% url 'movies:tvshow_detail' show.pk %}">{{ show.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if tvshows_starred_in %}
            <h3>Актёр:</h3>
            <table id="tableActed" class='tablesorter'>
                <thead>
                    <tr>
                        <th>Название</th>
                </thead>
                <tbody>
                {% for show in tvshows_starred_in %}
                    <tr>
                        <td><a href="{% url 'movies:tvshow_detail' show.pk %}">{{ show.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        
    {% endif %}

    <p>[<a href="{% url 'movies:person_list' %}">Вернуться к списку людей</a>]</p>
    <p>[<a href="{% url 'movies:person_delete' object.pk %}">Удалить</a>]</p>
{% endblock content %}

{% block js %}
    <script type="text/javascript">
        $.tablesorter.addParser({
        id: 'monthYear',
        is: function(s) {
            return false;
        },
        format: function(s) {
            // remove extra spacing
            s = $.trim(s.replace(/\s+/g, ' '));
            // process date
            var date = s.match(/^(\w{3})[ ](\d{4})$/),
            m = date ? date[1] + ' 1 ' || '' : '',
            y = date && date[2] ? date[2] || '' : '';
            return new Date(m + y).getTime() || '';
        },
        type: 'Numeric'
    });

    $(document).ready(function() 
    { 
        $("#tableDirected").tablesorter({
            headers: {
                1: {
                    sorter: 'monthYear'
                }
            }
        }); 
            } 
        );

    $(document).ready(function() 
    { 
        $("#tableActed").tablesorter({
            headers: {
                1: {
                    sorter: 'monthYear'
                }
            }
        }); 
            } 
        );
    </script>
{% endblock js %}