a {
    text-decoration: underline;
    color: #00439f;
}

a:visited {
    /*color: #5e5e5b;*/
}

body {
    background-color: #ccc8b3;
}

p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
}

.headline {
    text-align: center;
}

.main {
    background-color: #edece0;
    margin-left: 7%;
    margin-right: 7%;
}

.poster {
    width: 240px;
    height: 360px;
}

.poster_stuff {
    float: left;
    width: 240px;
    margin-right: 20px;
}

.review_stuff {
    margin-left: 260px;
}

.text {
    padding: 20px;
}

.item {
    margin: 10px 30px;
    width: 110px;
    height: 160px;
    display: inline-block;
    text-align: center;
}

.item_img {
    width: 110px;
    height: 160px;
}

.item_box {
    width: 110px;
    height: 160px;
    background-color: #CCCCFF;
}

.tv_item {
    margin: 10px 30px;
    width: 250px;
    height: 100px;
    display: inline-block;
    text-align: center;
}

.tv_item_img {
    width: 250px;
    height: 100px;
}

.tv_item_box {
    width: 250px;
    height: 100px;
    background-color: #CCCCFF;
}

.navigation {
    font-size: 13px;
}

.navbar {
    /*margin-bottom: 10px;*/
    /*height: 35px;*/
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
}

.navbar ul {
    position: relative;
    bottom: 10px;
}

.navbar li {
    display: inline;
    font-size: 14px;
}

.navbar a {
    /*text-decoration: none;*/
    /*color: #024C1D;*/
}

.navbar a:hover {
    /*color: #DDDDDD;*/
}

.navbar li:after {
    content: '|';
    padding: 0 10px;
}

.navbar li:last-child:after {
    content: '';
}

form    {
background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
margin:auto;
position:relative;
width:550px;
height:450px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
line-height: 24px;
font-weight: bold;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input    {
width:100%;
display:block;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea {
    width: 100%;
}

textarea:focus, input:focus {
border: 1px solid #09C;
}

/* tables */
table.tablesorter {
    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
