{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Tung{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'movies/css/style.css' %}">
    
</head>
<body>
    <div class="main">
        <a href="{% url 'movies:index' %}">Tung</a>
        {% if user.is_authenticated %}
            {{ user.username }} | <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <a href="{% url 'signup' %}">Sign Up</a> | <a href="{% url 'login' %}">Log In</a>
        {% endif %}
        <div class='text headline'>{% block headline %}{% endblock headline %}</div>
        <div class='text'>{% block content %}{% endblock content %}</div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'movies/js/jquery.tablesorter.min.js' %}"></script>
    {% block js %}{% endblock js %}
</body>
</html>